/*.button {
  display: inline-block;
  position: relative;
  margin: 15px 30px;
  width: 170px;
  height: 70px;
  /*padding: 15px;
  border-radius: 0.25em;
  background: #4183D7;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background-image: url('../images/button_short.svg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -webkit-transition: 0.3s;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.3s;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 700;
  outline: none;
  /*min-width: 100px;
  -webkit-transition: none;
  transition: none;
}*/
span.button{
  position: relative;
  pointer-events: none;
  left: 50%;
  top: -45px;
  z-index: 2;
}

.button{
	display: inline-block;
	position: relative;
	margin: 15px 30px;
	transition: 0.3s;
	border: none;
	cursor: pointer;
  fill: #5bdeff;
}

.red {
  fill: #ff4720;
}

.red [id^="buttoncorner"] {
  fill: #ff4720;
}

.red:hover #buttonbase{
  fill: #bf3518;
}

.redhover:hover #buttonbase{
  fill: #bf3518;
}

.gray {
  fill: #aaa;
}

.gray [id^="buttoncorner"] {
  fill: #aaa;
}

.greenhover:hover #buttonbase{
  fill: #47bf53;
}

.green {
  fill: #5bff6a;
}

.green [id^="buttoncorner"] {
  fill: #5bff6a;
}

.green:hover #buttonbase{
  fill: #47bf53;
}

.blue {
  fill: #5bdeff;
}

.blue [id^="buttoncorner"] {
  fill: #5bdeff;
}

.blue:hover #buttonbase{
  fill: #4486bf;
}

.bluehover:hover #buttonbase{
  fill: #4486bf;
}

#buttonbase{
  opacity: 0.5;
}

[id^="buttoncorner"] {
	transition: 0.5s;
  opacity:0.5;
  fill-opacity:1;
  stroke:none;
  stroke-width:1;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:1
}

/*svg:hover #buttonbase{
  fill: #000ee3;
}*/

svg:hover #buttoncornerone {
	transform: translate(5px, 5px);
}

svg:hover #buttoncornertwo {
	transform: translate(-5px, 5px);
}

svg:hover #buttoncornerthree {
	transform: translate(5px, -5px);
}

svg:hover #buttoncornerfour {
	transform: translate(-5px, -5px);
}