
span.button{
  position: relative;
  pointer-events: none;
  left: 50%;
  top: -45px;
  z-index: 2;
}

.button{
	display: inline-block;
	position: relative;
	margin: 15px 30px;
	transition: 0.3s;
	border: none;
	cursor: pointer;
  fill: #5bdeff;
}

.modal-btn {
  margin: 0px;
  -webkit-transition: visibility 0s 0.5s, opacity 0s;
  transition: visibility 0s 0.5s, opacity 0s;
  -webkit-transition-timing-function: ease-out;
}

.red {
  fill: #ff4720;
}

.red [id^="buttoncorner"] {
  fill: #ff4720;
}

.red:hover #buttonbase{
  fill: #bf3518;
}

.redhover:hover #buttonbase{
  fill: #bf3518;
}

.gray {
  fill: #aaa;
}

.gray [id^="buttoncorner"] {
  fill: #aaa;
}

.greenhover:hover #buttonbase{
  fill: #47bf53;
}

.green {
  fill: #5bff64;
}

.green [id^="buttoncorner"] {
  fill: #5bff64;
}

.green:hover #buttonbase{
  fill: #47bf53;
}

.blue {
  fill: #5bdeff;
}

.blue [id^="buttoncorner"] {
  fill: #5bdeff;
}

.blue:hover #buttonbase{
  fill: #44a6bf;
}

.bluehover:hover #buttonbase{
  fill: #44a6bf;
}

#buttonbase{
  opacity: 0.5;
}

[id^="buttoncorner"] {
	transition: 0.5s;
  opacity:0.5;
  fill-opacity:1;
  stroke:none;
  stroke-width:1;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:1
}

/*svg:hover #buttonbase{
  fill: #000ee3;
}*/

svg:hover #buttoncornerone {
	transform: translate(5px, 5px);
}

svg:hover #buttoncornertwo {
	transform: translate(-5px, 5px);
}

svg:hover #buttoncornerthree {
	transform: translate(5px, -5px);
}

svg:hover #buttoncornerfour {
	transform: translate(-5px, -5px);
}

svg:active #buttoncornerone {
	transform: translate(7px, 7px);
}

svg:active #buttoncornertwo {
	transform: translate(-7px, 7px);
}

svg:active #buttoncornerthree {
	transform: translate(7px, -7px);
}

svg:active #buttoncornerfour {
	transform: translate(-7px, -7px);
}


/*LONG BUTTONS*/
#lngbuttonbase{
  opacity: 0.5;
}

[id^="lngbuttoncorner"] {
  transition: 0.5s;
  opacity:0.5;
  fill-opacity:1;
  stroke:none;
  stroke-width:1;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:1
}

svg:hover #lngbuttoncornerone {
  transform: translate(5px, 5px);
}

svg:hover #lngbuttoncornertwo {
  transform: translate(-5px, 5px);
}

svg:hover #lngbuttoncornerthree {
  transform: translate(5px, -5px);
}

svg:hover #lngbuttoncornerfour {
  transform: translate(-5px, -5px);
}

svg:active #lngbuttoncornerone {
  transform: translate(7px, 7px);
}

svg:active #lngbuttoncornertwo {
  transform: translate(-7px, 7px);
}

svg:active #lngbuttoncornerthree {
  transform: translate(7px, -7px);
}

svg:active #lngbuttoncornerfour {
  transform: translate(-7px, -7px);
}

/*SMALLBUTTONS*/
.small{
  margin: 0;
}

#smlbuttonbase{
  opacity: 0.5;
}

[id^="smlbuttoncorner"] {
  transition: 0.5s;
  opacity:0.5;
  fill-opacity:1;
  stroke:none;
  stroke-width:1;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:1
}

svg:hover #smlbuttoncornerone {
  transform: translate(2.25px, 2.25px);
}

svg:hover #smlbuttoncornertwo {
  transform: translate(-2.25px, 2.25px);
}

svg:hover #smlbuttoncornerthree {
  transform: translate(2.25px, -2.25px);
}

svg:hover #smlbuttoncornerfour {
  transform: translate(-2.25px, -2.25px);
}

svg:active #smlbuttoncornerone {
  transform: translate(3px, 3px);
}

svg:active #smlbuttoncornertwo {
  transform: translate(-3px, 3px);
}

svg:active #smlbuttoncornerthree {
  transform: translate(3px, -3px);
}

svg:active #smlbuttoncornerfour {
  transform: translate(-3px, -3px);
}
