/*HELP PAGE CSS*/

.help-one-container{
	margin-top: 200px;
}

.help-container{
	cursor: default;
	color: rgb(95,173,65);
}

#stepContainer{
	text-align: left;
	font-size: 1.35em;
}

#stepOne{
	transition: opacity 1s ease-in-out;
}

#menu_slide{
	transition: opacity 1s ease-in-out;
}

.glow {
	-webkit-animation: item-glow 1.5s ease-in-out infinite alternate;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.help-back{
	position: absolute;
	right: 280px;
	bottom: 0;
}

@-webkit-keyframes item-glow {
  from {
    box-shadow: 0 0 5px #47CFFF, 0 0 10px #47CFFF, 0 0 15px #47CFFF, 0 0 20px #47CFFF, 0 0 30px #47CFFF, 0 0 40px #47CFFF, 0 0 50px #47CFFF, 0 0 60px #47CFFF;
  }
  to {
    box-shadow: 0 0 5px #47CFFF, 0 0 10px #47CFFF, 0 0 15px #47CFFF, 0 0 20px #47CFFF, 0 0 30px #47CFFF, 0 0 35px #47CFFF, 0 0 45px #47CFFF;
  }
}