/*DEBUG*/
div {
	/*border-style: solid;
	border-color: red;*/
}

/*color scheme
https://coolors.co/app/404040-f7f0f0-5490cc-5fad41-067bc2
#5FAD41

#067BC2

#F7F0F0

#404040

#7D6B8F

#5490CC
*/

/*GENERAL CSS*/

@font-face {
	font-family: Orbitron;
	src: url("../font/orbitron-medium.otf") format("opentype");
	/*src: url("../font/maven-pro-v7-latin-700.ttf") */
}

@font-face {
	font-family: Dalek;
	src: url("../font/DALEK___.otf") format("opentype"));
}

/*Batch icons*/

@font-face{
	font-family: Batch;
	src:url('../font/Batch/batch-icons-webfont.eot');
	src:url('../font/Batch/batch-icons-webfont.eot?#iefix') format('embedded-opentype'),
	  url('../font/Batch/batch-icons-webfont.woff') format('woff'),
	  url('../font/Batch/batch-icons-webfont.ttf') format('truetype'),
	  url('../font/Batch/batch-icons-webfont.svg#batchregular') format('svg');
	font-weight:normal;
	font-style:normal;
}


a {
	outline: 0;
}

html {
	width: 100%;
	height: 100%;
}

.batch {
	font-family:"Batch", "Orbitron"; 
}

.batch:before {
    content:attr(data-icon);
}

.videocontainer{
	z-index: 100000;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: black;
	left: 0;
	top: 0;
}

.videocontainer video{
	z-index: 100000;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

body {
	text-align: center;
	overflow: hidden;
	font-family: Orbitron;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	background-image: -webkit-radial-gradient(ellipse, #2a437c 0, #10203b 100%);
	background-size: 200% 200%;
	height: 100%;
	width: 100%;
	cursor: default;
	/*-webkit-animation: background 6s ease infinite;
	-webkit-animation-direction: alternate;*/
}

img {
	pointer-events: none;
}

@-webkit-keyframes background {
  0% {
    background-position: 25% 50%;
  }
  50% {
    background-position: 75% 50%;
  }
  100% {
    background-position: 25% 50%;
  }
}

.about-text{
	text-align: left;
	margin-left: 10%;
	
}

.move-count-container{
	background-image: url(../images/stats_background.svg);
}

#moveCountHeader{
	text-align: left;
	margin-left: 25px;
}

#moveCount{
	text-align: right;
	margin-right: 25px;
	margin-top: -15px;
}

.timer-container{
	background-image: url(../images/stats_background.svg);
}

#timerHeader{
	text-align: left;
	margin-left: 25px;
}

#timer{
	text-align: right;
	margin-right: 25px;
	margin-top: -15px;
}

#moveIndicatorHeader{
	text-align: right;
	margin-right: 25px;
	margin-top: -15px;
}

#chat{
	font-size: 0.8em;
	height : 235px;
	width  : 425px;
	float  : right;
	position : absolute;
	bottom: 30px;
	right: 50px;
	background-image: url(../images/chat_background.svg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	/*background: rgba(174, 174, 174, 0.55);
	border-radius: 3px;
  	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
	transition: .3s;
}

#chat-form{
	position: absolute;
	bottom: 0;
	width: inherit;
}

#chat-form input{
	margin: 5px;
	height: 20px;
}

#chat-text{
	width: 60%;
}

#chat-enter{
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: -10px;
}

#messages { 
	list-style-type: none; 
	margin: 0;
	padding: 0;
	overflow:hidden; 
	overflow-y:scroll;
	height: 84%;
}

#messages li { 
	padding: 5px 10px; 
	margin: 5px;
}

#messages::-webkit-scrollbar {
  width: 10px;
}
 
#messages::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 20px;
}

#messages::-webkit-scrollbar-track {
  border-radius: 20px;
}

.sent{
	text-align: left;
	background: rgba(174, 174, 174, 0.75);
}

.received{
	text-align: right;
}

.system {
	text-align: center;
	color: #881820;
}

ul{
    list-style-type: none;
}

a{
	color: black;
	text-decoration: none;
}

a:hover{
	color: black;
	/*text-shadow: 2px 2px 2px #000;*/
}

.view-heading{
	cursor: default;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	cursor: default;
	position: relative;
	width: 50%; 
	text-align: left;
	margin: 0 auto;
	margin-top: 50px;
	color: #efefef;
	margin-bottom: 10px;
}

.view-heading:nth-child(odd){
	text-shadow: 0 0 10px #47CFFF;
}

.view-heading:nth-child(even){
	text-shadow: 0 0 15px #47CFFF;
}
/*
@-webkit-keyframes heading-glow {
  from {
    text-shadow: 0 0 5px #47CFFF, 0 0 10px #47CFFF, 0 0 15px #47CFFF, 0 0 20px #47CFFF, 0 0 30px #47CFFF, 0 0 40px #47CFFF, 0 0 50px #47CFFF, 0 0 60px #47CFFF;
  }
  to {
    text-shadow: 0 0 5px #47CFFF, 0 0 10px #47CFFF, 0 0 15px #47CFFF, 0 0 20px #47CFFF, 0 0 30px #47CFFF, 0 0 35px #47CFFF, 0 0 45px #47CFFF;
  }
}*/


#particles-js{ 
	position:absolute;
	top: 0;
	left: 0;
	width: 100%; 
	height: 100%;
	background-image: url(""); 
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: 50% 50%; 
}

.back{
	position: absolute;
	left: 0;
	bottom: 0;
}

.next{
	position: absolute;
	right: -15px;
	bottom: 0;
}

.menu{
	position: absolute;
	right: 160px;
	bottom: 0;
}

/*ABOUT CSS*/
#muon-logo {
	width: 150%;
}

#colossity-logo {
	width: 350%;
	margin-top: 20px;
}

.about-text {
	margin: 50px;
	color: rgb(95,173,65);
}

.about-text ul {
	text-align: right;
}

/*BOARD CSS*/

.preload-board {
	display: none;
	width: 0;
	height: 0;
	background: url(../images/boardElec.gif);
	background: url(../images/boardElecTri.gif);
}

#boardHeaderText {
	position: absolute;
	right: 300px;
	top: 50px;
}

.gameboard {
	position: absolute;
	top: 50%;
	left: 30%;
	transform: translate(-50%, -50%);
	transition: opacity 1s ease-in-out;
}

.gameboard img {
	transition: opacity 1s ease-in-out;
	z-index: 0;
	width: 700px;
	height: 700px;
	border-radius: 3px;
  	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.flag {
	opacity: 1;
	transition: opacity 1s ease-in-out;
}

.fade-out {
	opacity: 0;
}

.gamepieces {
	position: absolute;
	top: 50%;
	left: 30%;
	transform: translate(-50%, -50%);
}

.winAnimation {
	position: absolute;
	top: 50%;
	left: 30%;
	transform: translate(-50%, -50%);
}

.node {
  stroke-width: 2px;
}

.node:hover {
	
}

.link {
    stroke: #636363;
    stroke-width: 2px;
}

.game-sidebar{
	position: absolute;
	top: 50px;
	right: 50px;
	width: 200px;
	text-align: center;
	height: 100%;
}

#menu-hide {
	z-index: 0;
}

.game-stats{
	position: absolute;
	z-index: 1;
	top: 32px;
	right: 275px;
	width: 200px;
	height: 250px;
	text-align: center;
}

.game-stats div{
	height: 65px;
	margin-bottom: 27.5px;
}

.game-menu-container {
	
	border-radius: 3px;
  	/*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
	padding: 1px;
	/*background: rgba(174, 174, 174, 0.55);*/
}

.game-menu-container span {
	cursor: pointer;
	letter-spacing: 2px;
	font-size: 14px;
	font-weight: 700;
	margin: -15px;
	display: block;
	text-transform: uppercase;
}

/*.game-menu-container span:hover {
	background: #2c75d2;
}

.game-menu-container span:active {
	-webkit-transform: translateY(2px);
	transform: translateY(2px);
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}*/

