/*GENERAL CSS*/

@font-face {
	font-family: Orbitron;
	src: url("../font/orbitron-medium.otf") format("opentype");
}

body {
	background-color: #404040;
	text-align: center;
	overflow: hidden;
	font-family: Orbitron;
}

ul
{
    list-style-type: none;
}


/*MAIN MENU CSS*/

.logo {
	position: fixed;
	top: 0%;
	font-size: 4em;
	left: 50%;
	z-index: 100;
}

.main-menu{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
}

a{
	color: black;
	text-decoration: none;
}

a:hover{
	color: #BDBDBD;
}

.homeButton{
	position: fixed;
}

#particles-js{ 
	position:absolute;
	width: 100%; 
	height: 100%;
	background-image: url(""); 
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: 50% 50%; 
}

.back{
	position: absolute;
	bottom: 20px;
	left: 20px;
	cursor: pointer;
	padding: 15px 4px 17px 0px;
	width: 150px;
}

/*BOARD CSS*/

.inGameMenu{
	position: absolute;
	bottom: 20px;
	left: 20px;
	margin: 0;
	width: 150px;
}

.inGameMenu ul{
	text-align: left;
	display: inline;
	margin: 0;
	padding: 15px 4px 17px 0px;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.inGameMenu ul li{
	display: inline-block;
	margin-right: -4px;
	position: relative;
	padding: 15px 20px;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.inGameMenu ul li: hover {
background: #555;
color: #FFF;
}

.inGameMenu ul li ul {
	padding: 0;
	position: absolute;
	bottom: 48px;
	width: 150px;
	left: 0;
	-webkit-box-shadow:none;
	-moz-box-shadow: none;
	box-shadow: none;
	display: none;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.inGameMenu ul li ul li{
	background: #555;
	display: block;
	color: #FFF;
	text-shadow: 0 -1px 0 #000;
}

.inGameMenu ul li ul li:hover {
	background: #666;
}

.inGameMenu ul li:hover ul{
	display: block;
	opacity: 1; 
	visibility: visible;
}
