.logo {
	-webkit-animation: logo-glow 1.5s ease-in-out infinite alternate;
	-moz-animation: logo-glow 1.5s ease-in-out infinite alternate;
	animation: logo-glow 1.5s ease-in-out infinite alternate;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	font-size: 4em;
	cursor: default;
	position: relative;
	width: 30%; 
	margin: 0 auto;
}

@-webkit-keyframes logo-glow {
  from {
    text-shadow: 0 0 5px #47CFFF, 0 0 10px #47CFFF, 0 0 15px #47CFFF, 0 0 20px #47CFFF, 0 0 30px #47CFFF, 0 0 40px #47CFFF, 0 0 50px #47CFFF, 0 0 60px #47CFFF;
  }
  to {
    text-shadow: 0 0 5px #47CFFF, 0 0 10px #47CFFF, 0 0 15px #47CFFF, 0 0 20px #47CFFF, 0 0 30px #47CFFF, 0 0 35px #47CFFF, 0 0 45px #47CFFF;
  }
}

.logo img{
	width: 400px;
}

.menu-container{
	position: relative;
    padding: 0;
    margin: 0 auto;
    width: 25%;
}

.main-menu{
	z-index: 100;
	/*background-color: rgba(6, 123, 196, 0.7);
	box-shadow: 0 4px 2px 2px #5FAD41;*/
	padding-top: 15%;
}

.main-menu-item {
    padding: 5px;
    height: 20px;
    margin: 15px;
    line-height: 20px;
    font-weight: bold;
    font-size: 2em;
    border: none;
    transition: .3s;
	cursor: pointer;
}

.main-menu-item a {
	color: black;
	text-shadow: 0 0 10px #47CFFF;
}

a:focus{
	color: black;
    text-shadow: 0 0 15px #47CFFF;
}

.item-pointer.left {
  position: relative;
  float: left;
  margin-top: -5px;
  right: 10px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  perspective: 200px;
  visibility: hidden;
}

.item-pointer.right {
  position: relative;
  float: right;
  margin-top: -5px;
  left: 10px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  perspective: 200px;
  visibility: hidden;
}

a:focus .item-pointer.left{
    visibility: visible;
}

a:focus .item-pointer.right{
    visibility: visible;
}

.pointer-inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.pointer-inner.one {
  left: 0%;
  top: 0%;
  -webkit-animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #47CFFF;
}

.pointer-inner.two {
  right: 0%;
  top: 0%;
  -webkit-animation: rotate-two 1s linear infinite;
  border-right: 3px solid #47CFFF;
}

.pointer-inner.three {
  right: 0%;
  bottom: 0%;
  -webkit-animation: rotate-three 1s linear infinite;
  border-top: 3px solid #47CFFF;
}

@-webkit-keyframes rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-webkit-keyframes rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@-webkit-keyframes rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}