#lobbyDiv{
	margin-bottom: 50px;
  	height: 400px;
  	/*background: rgba(174, 174, 174, 0.55);
  	border-radius: 3px;
  	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
  	background-image: url(../images/network_background.svg);
	color: black;
	letter-spacing: 2px;
	z-index: 100;
}

#roomDiv{
	margin-bottom: 50px;
	height: 400px;
  	/*background: rgba(174, 174, 174, 0.55);
  	border-radius: 3px;
  	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
  	background-image: url(../images/network_background.svg);
	color: black;
	letter-spacing: 2px;
	z-index: 100;
	max-width: 800px;
}

#lobby-list {
	width: 100%;
	transition: .3s;
	border-radius: 3px;
	overflow:hidden; 
	overflow-y:scroll;
	margin-bottom: 20px;
	padding: 0;
	max-height: 325px;
}

#lobby-list::-webkit-scrollbar {
  width: 10px;
}
 
#lobby-list::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}

#lobby-list::-webkit-scrollbar-track {
  border-radius: 20px;
}


#lobby-list li {
	padding: 4px;
	height: 1.5em;    
    line-height: 12px;
}

#lobby-list li span {
	display: inline-block;  
    vertical-align: middle;
}

#lobby-list li:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;       
}

#lobby-list li:nth-child(odd) {
	background: rgba(174, 174, 174, 0.75);
}

#room-list {
	width: 100%;
	transition: .3s;
	border-radius: 3px;
	overflow:hidden; 
	overflow-y:scroll;
	margin-bottom: 20px;
	padding: 0;
	max-height: 325px;
}

#room-list::-webkit-scrollbar {
  width: 10px;
}
 
#room-list::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}

#room-list::-webkit-scrollbar-track {
  border-radius: 20px;
}


#room-list li {
	padding: 4px;
	height: 3em;    
    line-height: 12px;
}

#room-list li span {
	display: inline-block;  
    vertical-align: middle;
}

#room-list li:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;       
}

#room-list li:nth-child(odd) {
	background: rgba(174, 174, 174, 0.75);
}

.join-btn {
	float: right;
	margin: 0;
	vertical-align: middle;
	padding-top: 7px;
	padding-right: 11px;
}

.usernamebox{
	z-index: 100;
}