[ui-view].ng-enter{
	-webkit-transition:all 1s ease-in-out;
	transition:all 1s ease-in-out;
}

[ui-view].ng-leave {
	-webkit-transition:all 0s ease-in-out;
	transition:all 0s ease-in-out;
}

[ui-view].ng-enter {
	opacity: 0;
}

[ui-view].ng-enter-active {
	opacity: 1;
}

[ui-view].ng-leave {
	opacity: 1;
}

[ui-view].ng-leave-active {
	opacity: 0;
}