<!-- views/about.html -->
<h1 class="view-heading" style="text-align: center">About page</h1>

<div class="row">
	<div class="col-xs-2 col-xs-offset-1">
		<img id="muon-logo" src="./images/muon.png"/>
	</div>
	<div class="col-xs-2 col-xs-offset-2">
		<img id="colossity-logo" src="./images/Colossity.png"/>
	</div>
</div>

<div class="row">
	<!-- <div class="about-text col-xs-2 col-xs-offset-2">
		<h3>Devleoped by:</h3>
		<ul>
			<li>Zach Russell</li>
			<li>Jacob Maurier</li>
			<li>Tyler Apgar</li>
			<li>Jordan Merrick</li>
		</ul>
	</div> -->
	<div class="about-text col-xs-3 col-xs-offset-4">
		<h3>Music and Sounds by:</h3>
		<ul>
			<li>Johannes Schelle</li>
		</ul>
	</div>
</div>

<div class="back batch">
	<svg class="button blue" ui-sref="menu" width="170" height="70" viewBox="0 0 170 70">
		<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
		<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
		<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
		<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
		<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
		<text fill="black" x="85" y="40" text-anchor="middle">&#xf14a Menu</text>
	</svg>
</div>