<!-- views/board.html -->
	<div class="gameboard">
	    <img src="./images/boardElec.gif" sb-load="gameboardLoaded($event)">
	</div>
	<div id="flagG" class="gameboard flag">
	    <img src="./images/flagG.svg">
	</div>
	<div id="flagB" class="gameboard flag">
	    <img src="./images/flagB.svg">
	</div>
	<div class="gameboard">
	    <img src="./images/boardPlaces.svg">
	</div>
	<div class="gamepieces gameboard">
	  
	</div>

	<div class="modal waiting" id="waiting_modal">
		<div class="modal-dialog">
			<h3 class="modal-prompt">Waiting for opponent...</h3>
			</br>
			<div class="loader">
				<div class="inner one"></div>
				<div class="inner two"></div>
				<div class="inner three"></div>
			</div>
		</div>
	</div>

	<div class="modal waiting" id="network_draw_modal">
		<div class="modal-dialog">
			<h3 class="modal-prompt">Your opponent would like to draw. Do you accept?</h3>
			<div class="row">
				<div class="col-xs-4 col-xs-offset-2">
					<input type="button" class="modal-btn button" ng-click="respondToDraw(true)" value="Accept" />
				</div>
				
				<div class="col-xs-4">
					<input type="button" class="modal-btn button" ng-click="respondToDraw(false)" value="Decline"/>
				</div>
			</div>
		</div>
	</div>

	<div class="modal waiting" id="network_rematch_modal">
		<div class="modal-dialog">
			<h3 class="modal-prompt">Your opponent would like to rematch. Do you accept?</h3>
			<div class="row">
				<div class="col-xs-4 col-xs-offset-2">
					<input type="button" class="modal-btn button" ng-click="respondToRematch(true)" value="Accept" />
				</div>
				
				<div class="col-xs-4">
					<input type="button" class="modal-btn button" ng-click="respondToRematch(false)" value="Decline"/>
				</div>
			</div>
		</div>
	</div>

	<div class="modal waiting" id="win-modal">
		<div class="modal-dialog">
			<h3 class="modal-prompt">You Won!</h3>
			<div class="row">
				<div class="col-xs-4 col-xs-offset-2">
					<input type="button" class="modal-btn button" ng-click="(isNetworkGame) ? proposeRematch() : startNewGame()" value="{{(isNetworkGame) ? 'Rematch' : 'New Game'}}" />
				</div>
				
				<div class="col-xs-4">
					<input type="button" class="modal-btn button" ng-click="quitToMenu()" value="Main Menu"/>
				</div>
			</div>
		</div>
	</div>

	<div class="modal waiting" id="lose-modal">
		<div class="modal-dialog">
			<h3 class="modal-prompt">You Lost!</h3>
			<div class="row">
				<div class="col-xs-4 col-xs-offset-2">
					<input type="button" class="modal-btn button" ng-click="(isNetworkGame) ? proposeRematch() : startNewGame()" value="{{(isNetworkGame) ? 'Rematch' : 'New Game'}}" />
				</div>
				
				<div class="col-xs-4">
					<input type="button" class="modal-btn button" ng-click="quitToMenu()" value="Main Menu"/>
				</div>
			</div>
		</div>
	</div>

	<div class="modal waiting" id="draw-modal">
		<div class="modal-dialog">
			<h3 class="modal-prompt">It's a Draw!</h3>
			<div class="row">
				<div class="col-xs-4 col-xs-offset-2">
					<input type="button" class="modal-btn button" ng-click="(isNetworkGame) ? proposeRematch() : startNewGame()" value="{{(isNetworkGame) ? 'Rematch' : 'New Game'}}" />
				</div>
				
				<div class="col-xs-4">
					<input type="button" class="modal-btn button" ng-click="quitToMenu()" value="Main Menu"/>
				</div>
			</div>
		</div>
	</div>

	<div class="game-stats">
		<div class="move-count-container">
			<h3 id="moveCountHeader">Moves</h3>
			<h1 id="moveCount">0</h1>
		</div>

		<div class="timer-container">
			<h3 id="timerHeader">Time</h3>
			<h1 id="timer">0</h1>
		</div>
	</div>


    <div class="game-sidebar">
    
		<div class="game-menu-container">
			<a ng-click="showQuitModal = true"><span data-balloon-length="medium" data-balloon-pos="left" data-balloon="Forfeit game and exit to the Main Menu">Main Menu</span></a>
			<a ng-click="proposeDraw()"><span data-balloon-length="medium" data-balloon-pos="left" data-balloon="Propose a draw">Draw</span></a>
			<a ng-click="showNewGameModal = true" ng-show="!isNetworkGame"><span data-balloon-length="medium" data-balloon-pos="left" data-balloon="Forfeit and start a new game">New Game</span></a>
			<a ng-click="showHelpModal = true"><span data-balloon-length="medium" data-balloon-pos="left" data-balloon="Summary of how to play">Help</span></a>
			<a ng-click="showQuitMuonModal = true"><span data-balloon-length="medium" data-balloon-pos="left" data-balloon="Quit game and close">Quit</span></a>
		</div>

		

	</div>

	<div id="chat" ng-model="chat">
		<ul id="messages">
			
		</ul>
		<form id="chat-form" ng-submit="sendChat()">
			<span class='batch' data-icon='&#xf139'></span>
		    <input id="chat-text" ng-model="chatText" maxlength="255" autofocus>
		    <input id="chat-enter" type="submit" class="button" value="send">
		</form>
	</div>

	
    <div class="modal" ng-init="showQuitModal = false;"
		ng-class="{'dim-lights': showQuitModal}">
		<div class="modal-dialog" ng-init="showQuitModal = false;"
			ng-class="{'show-modal': showQuitModal}">
			
			<span class="modal-X batch" data-icon='&#xf14e' 
				ng-click="showQuitModal = false;" 
				ng-class="{'show-modal-btn': showQuitModal}"></span>
			
			<h3 class="modal-prompt">Are you sure you wish to return to the Main Menu?</h3>
			
			<div class="row">
				<div class="col-xs-4 col-xs-offset-2">
					<input type="button" class="modal-btn button" ng-click="showQuitModal = false;" 
						value="Cancel" ng-focus="true"
						ng-init="showQuitModal = false;" ng-class="{'show-modal-btn': showQuitModal}" />
				</div>
				
				<div class="col-xs-4">
					<input type="button" class="modal-btn button" ng-click="quitToMenu()" value="Continue" 
						ng-init="showQuitModal = false;" ng-class="{'show-modal-btn': showQuitModal}" />
				</div>
			</div>
		</div>
    </div>

    <div class="modal" ng-init="showNewGameModal = false;"
		ng-class="{'dim-lights': showNewGameModal}">
		<div class="modal-dialog" ng-init="showNewGameModal = false;"
			ng-class="{'show-modal': showNewGameModal}">
			
			<span class="modal-X batch" data-icon='&#xf14e' 
				ng-click="showNewGameModal = false;" 
				ng-class="{'show-modal-btn': showNewGameModal}"></span>
			
			<h3 class="modal-prompt">Are you sure you want to start a new game?</h3>
			
			<div class="row">
				<div class="col-xs-4 col-xs-offset-2">
					<input type="button" class="modal-btn button" ng-click="showNewGameModal = false;" 
						value="Cancel"
						ng-init="showNewGameModal = false;" ng-class="{'show-modal-btn': showNewGameModal}" />
				</div>
				<div class="col-xs-4">
					<input type="button" class="modal-btn button" 
						ng-click="startNewGame(); showNewGameModal = false;" 
						value="New Game" ng-class="{'show-modal-btn': showNewGameModal}" />
				</div>
			</div>
		</div>
    </div>


    <div class="modal" ng-init="showHelpModal = false;"
		ng-class="{'dim-lights': showHelpModal}">
		<div class="modal-dialog help-modal" ng-init="showHelpModal = false;"
			ng-class="{'show-modal': showHelpModal}">
			
			<span class="modal-X batch" data-icon='&#xf14e' 
				ng-click="showHelpModal = false;" 
				ng-class="{'show-modal-btn': showHelpModal}"></span>
			
			<h3 class="modal-prompt">How To Play</h3>
			<p class="help-modal-text"> 
				Move your muons (or anti-muons) from your initial quadrant to form a triangle in any one of the other three pyramid quadrants. The first player to create a triangle of 3 muons inside one of the quadrants, wins the game. Once you have cleared all 5 of your muons out of your initial quadrant, you can win by forming a trangle in your home quadrant aswell.
			</p>
			
			<div class="row">
				<div class="col-xs-4 col-xs-offset-4">
					<input type="button" class="modal-btn button" ng-click="showHelpModal = false;" 
						value="OK" ng-focus="true"
						ng-init="showHelpModal = false;" ng-class="{'show-modal-btn': showHelpModal}" />
				</div>
			</div>
		</div>
    </div>



    <div class="modal" ng-init="showQuitMuonModal = false;"
		ng-class="{'dim-lights': showQuitMuonModal}">
		<div class="modal-dialog" ng-init="showQuitMuonModal = false;"
			ng-class="{'show-modal': showQuitMuonModal}">
			
			<span class="modal-X batch" data-icon='&#xf14e' 
				ng-click="showQuitMuonModal = false;" 
				ng-class="{'show-modal-btn': showQuitMuonModal}"></span>
			
			<h3 class="modal-prompt">Are you sure you want to quit Muon?</h3>
			
			<div class="row">
				<div class="col-xs-4 col-xs-offset-2">
					<input type="button" class="modal-btn button" ng-click="showQuitMuonModal = false;" 
						value="Cancel"
						ng-init="showQuitMuonModal = false;" ng-class="{'show-modal-btn': showQuitMuonModal}" />
				</div>
				<div class="col-xs-4">
					<input type="button" class="modal-btn button" ui-sref="quit" value="Quit" 
						ng-init="showQuitMuonModal = false;" ng-class="{'show-modal-btn': showQuitMuonModal}" />
				</div>
			</div>
		</div>
    </div>