<!-- views/board.html -->
	
	<div class="winAnimation">
		<video id="winAnim" src="./videos/MuonWin.mp4" type="video/mp4" onended="gameCore.endAnimation()"></video>
	</div>
	<div class="gameboard">
	    <img src="./images/boardElec.gif" sb-load="gameboardLoaded($event)">
	</div>
	<div id="flagG" class="gameboard flag">
	    <img src="./images/flagG.svg">
	</div>
	<div id="flagB" class="gameboard flag">
	    <img src="./images/flagB.svg">
	</div>
	<div class="gameboard">
	    <img src="./images/boardPlaces.svg">
	</div>
	<div class="gamepieces gameboard">	
	</div>

	<div class="modal waiting" id="waiting_modal">
		<div class="modal-dialog">
			<h3 class="modal-prompt">Waiting for opponent...</h3>
			</br>
			<div class="loader">
				<div class="inner one"></div>
				<div class="inner two"></div>
				<div class="inner three"></div>
			</div>
		</div>
	</div>

	<div class="modal waiting" id="disconnect_modal">
		<div class="modal-dialog">
			<h3 class="modal-prompt">Opponent disconnected. Where would you like to go?</h3>
			<div class="row">
				<div class="col-xs-4 col-xs-offset-2">
					<svg class="button blue bluehover modal-btn" width="170" height="70" viewBox="0 0 170 70"  ng-mouseover="mouse_over()" ng-click="mouse_click(); returnToLobby();" 
					ng-init="showNewGameModal = false;" ng-class="{'show-modal-btn': showNewGameModal}">
						<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
						<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
						<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
						<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
						<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
						<text fill="white" x="85" y="40" text-anchor="middle" >Lobby</text>
					</svg>
				</div>
				
				<div class="col-xs-4">
					<svg class="button blue bluehover modal-btn" width="170" height="70" viewBox="0 0 170 70"  ng-mouseover="mouse_over()" ng-click="mouse_click(); quitToMenu();" 
					ng-init="showNewGameModal = false;" ng-class="{'show-modal-btn': showNewGameModal}">
						<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
						<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
						<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
						<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
						<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
						<text fill="white" x="85" y="40" text-anchor="middle" >Main Menu</text>
					</svg>

				</div>
			</div>
		</div>
	</div>

	<!-- Draw proposal modal-->
	<div class="modal waiting" id="network_draw_modal">
		<div class="modal-dialog">
			<h3 class="modal-prompt">Your opponent would like to draw. Do you accept?</h3>
			<div class="row">
				<div class="col-xs-4 col-xs-offset-2">
					<svg class="button blue bluehover modal-btn" width="170" height="70" viewBox="0 0 170 70"  ng-mouseover="mouse_over()" ng-click="mouse_click(); respondToDraw(true);" 
					ng-init="showNewGameModal = false;" ng-class="{'show-modal-btn': showNewGameModal}">
						<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
						<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
						<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
						<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
						<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
						<text fill="white" x="85" y="40" text-anchor="middle" >Accept</text>
					</svg>
				</div>
				
				<div class="col-xs-4">
					<svg class="button blue bluehover modal-btn" width="170" height="70" viewBox="0 0 170 70"  ng-mouseover="mouse_over()" ng-click="mouse_click(); respondToDraw(false);" 
					ng-init="showNewGameModal = false;" ng-class="{'show-modal-btn': showNewGameModal}">
						<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
						<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
						<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
						<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
						<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
						<text fill="white" x="85" y="40" text-anchor="middle" >Decline</text>
					</svg>
				</div>
			</div>
		</div>
	</div>

	<!-- Rematch proposal modal -->
	<div class="modal waiting" id="network_rematch_modal">
		<div class="modal-dialog">
			<h3 class="modal-prompt">Your opponent would like to rematch. Do you accept?</h3>
			<div class="row">
				<div class="col-xs-4 col-xs-offset-2">
					<svg class="button blue bluehover modal-btn" width="170" height="70" viewBox="0 0 170 70"  ng-mouseover="mouse_over()" ng-click="mouse_click(); respondToRematch(true)" 
					ng-init="showNewGameModal = false;" ng-class="{'show-modal-btn': showNewGameModal}">
						<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
						<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
						<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
						<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
						<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
						<text fill="white" x="85" y="40" text-anchor="middle" >Accept</text>
					</svg>
				</div>
				
				<div class="col-xs-4">
					<svg class="button blue bluehover modal-btn" width="170" height="70" viewBox="0 0 170 70"  ng-mouseover="mouse_over()" ng-click="mouse_click(); respondToRematch(false);" 
					ng-init="showNewGameModal = false;" ng-class="{'show-modal-btn': showNewGameModal}">
						<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
						<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
						<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
						<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
						<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
						<text fill="white" x="85" y="40" text-anchor="middle" >Decline</text>
					</svg>
				</div>
			</div>
		</div>
	</div>

	<!-- Win modal -->
	<div class="modal waiting" id="win-modal">
		<div class="modal-dialog">
			<h3 class="modal-prompt">You Won!</h3>
			<div class="row">
				<div class="col-xs-4 col-xs-offset-2">
					<svg class="button blue bluehover modal-btn" width="170" height="70" viewBox="0 0 170 70"  ng-mouseover="mouse_over()" ng-click="mouse_click(); (isNetworkGame) ? proposeRematch() : startNewGame()"
					ng-init="showNewGameModal = false;" ng-class="{'show-modal-btn': showNewGameModal}">
						<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
						<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
						<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
						<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
						<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
						<text fill="white" x="85" y="40" text-anchor="middle" >{{(isNetworkGame) ? 'Rematch' : 'New Game'}}</text>
					</svg>
				</div>
				
				<div class="col-xs-4">
					<svg class="button blue bluehover modal-btn" width="170" height="70" viewBox="0 0 170 70"  ng-mouseover="mouse_over()" ng-click="mouse_click(); quitToMenu()"
					ng-init="showNewGameModal = false;" ng-class="{'show-modal-btn': showNewGameModal}">
						<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
						<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
						<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
						<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
						<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
						<text fill="white" x="85" y="40" text-anchor="middle" >Main Menu</text>
					</svg>
				</div>
			</div>
		</div>
	</div>

	<!-- Lose modal -->
	<div class="modal waiting" id="lose-modal">
		<div class="modal-dialog">
			<h3 class="modal-prompt">You Lost!</h3>
			<div class="row">
				<div class="col-xs-4 col-xs-offset-2">
					<svg class="button blue bluehover modal-btn" width="170" height="70" viewBox="0 0 170 70"  ng-mouseover="mouse_over()" ng-click="mouse_click(); (isNetworkGame) ? proposeRematch() : startNewGame()"
					ng-init="showNewGameModal = false;" ng-class="{'show-modal-btn': showNewGameModal}">
						<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
						<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
						<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
						<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
						<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
						<text fill="white" x="85" y="40" text-anchor="middle" >{{(isNetworkGame) ? 'Rematch' : 'New Game'}}</text>
					</svg>
				</div>
				
				<div class="col-xs-4">
					<svg class="button blue bluehover modal-btn" width="170" height="70" viewBox="0 0 170 70"  ng-mouseover="mouse_over()" ng-click="mouse_click(); quitToMenu()"
					ng-init="showNewGameModal = false;" ng-class="{'show-modal-btn': showNewGameModal}">
						<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
						<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
						<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
						<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
						<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
						<text fill="white" x="85" y="40" text-anchor="middle" >Main Menu</text>
					</svg>
				</div>
			</div>
		</div>
	</div>

	<!-- Draw modal -->
	<div class="modal waiting" id="draw-modal">
		<div class="modal-dialog">
			<h3 class="modal-prompt">It's a Draw!</h3>
			<div class="row">
				<div class="col-xs-4 col-xs-offset-2">
					<svg class="button blue bluehover modal-btn" width="170" height="70" viewBox="0 0 170 70"  ng-mouseover="mouse_over()" ng-click="mouse_click(); (isNetworkGame) ? proposeRematch() : startNewGame()"
					ng-init="showNewGameModal = false;" ng-class="{'show-modal-btn': showNewGameModal}">
						<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
						<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
						<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
						<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
						<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
						<text fill="white" x="85" y="40" text-anchor="middle" >{{(isNetworkGame) ? 'Rematch' : 'New Game'}}</text>
					</svg>
				</div>
				
				<div class="col-xs-4">
					<svg class="button blue bluehover modal-btn" width="170" height="70" viewBox="0 0 170 70"  ng-mouseover="mouse_over()" ng-click="mouse_click(); quitToMenu()"
					ng-init="showNewGameModal = false;" ng-class="{'show-modal-btn': showNewGameModal}">
						<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
						<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
						<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
						<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
						<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
						<text fill="white" x="85" y="40" text-anchor="middle" >Main Menu</text>
					</svg>
				</div>
			</div>
		</div>
	</div>

	<!-- Draw denied modal -->
	<div class="modal waiting" id="draw-denied-modal">
		<div class="modal-dialog">
			<h3 class="modal-prompt">Draw Proposal Denied!</h3>
			<div class="row">
				<div class="col-xs-4 col-xs-offset-4">
					<svg class="button green greenhover modal-btn" width="170" height="70" viewBox="0 0 170 70"  ng-mouseover="mouse_over()" ng-click="mouse_click(); hideDrawDeniedModal()"
					ng-init="showDrawDeniedModal = false;" ng-class="{'show-modal-btn': showDrawDeniedModal}">
						<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
						<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
						<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
						<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
						<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
						<text fill="white" x="85" y="40" text-anchor="middle" >Okay</text>
					</svg>
				</div>
			</div>
		</div>
	</div>

	<div class="game-stats">
		<div class="move-count-container">
			<h3 id="moveCountHeader">Moves</h3>
			<h1 id="moveCount">0</h1>
		</div>

		<div class="move-count-container">
			<h3 id="moveCountHeader">Turn</h3>
			<h1 id="moveIndicatorHeader">Yours</h1>
		</div>
	</div>


	<div class="game-sidebar" id="menu-hide"></div>
    <div class="game-sidebar">
		<div class="game-menu-container">
			<span data-balloon-length="medium" data-balloon-pos="left" data-balloon="Forfeit game and exit to the Main Menu">
			<svg class="button blue bluehover" width="170" height="70" viewBox="0 0 170 70" ng-click="showQuitModal = true; mouse_click();" ng-mouseover="mouse_over()">
				<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
				<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
				<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
				<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
				<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
				<text fill="white" x="85" y="40" text-anchor="middle" >Main Menu</text>
			</svg>
			</span>
			<span data-balloon-length="medium" data-balloon-pos="left" data-balloon="Propose a draw">
			<svg class="button blue bluehover" width="170" height="70" viewBox="0 0 170 70" ng-click="proposeDraw(); mouse_click();" ng-mouseover="mouse_over()">>
				<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
				<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
				<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
				<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
				<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
				<text fill="white" x="85" y="40" text-anchor="middle" >Draw</text>
			</svg>
			</span>
			<span data-balloon-length="medium" data-balloon-pos="left" data-balloon="Forfeit and start a new game.">
			<svg class="button blue bluehover" width="170" height="70" viewBox="0 0 170 70" ng-click="showNewGameModal = true; mouse_click();" ng-mouseover="mouse_over()" ng-show="!isNetworkGame">
				<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
				<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
				<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
				<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
				<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
				<text fill="white" x="85" y="40" text-anchor="middle" >New Game</text>
			</svg>
			</span>
			<span data-balloon-length="medium" data-balloon-pos="left" data-balloon="Change options">
			<svg class="button blue bluehover" width="170" height="70" viewBox="0 0 170 70" ng-click="showOptionsModal = true; mouse_click();" ng-mouseover="mouse_over()">
				<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
				<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
				<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
				<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
				<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
				<text fill="white" x="85" y="40" text-anchor="middle" >Options</text>
			</svg>
			</span>
			<span data-balloon-length="medium" data-balloon-pos="left" data-balloon="Summary of how to play">
			<svg class="button blue bluehover" width="170" height="70" viewBox="0 0 170 70" ng-click="showHelpModal = true; mouse_click();" ng-mouseover="mouse_over()">
				<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
				<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
				<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
				<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
				<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
				<text fill="white" x="85" y="40" text-anchor="middle" >Help</text>
			</svg>
			</span>
			<!-- <a ng-click="showQuitMuonModal = true"><span data-balloon-length="medium" data-balloon-pos="left" data-balloon="Quit game and close">Quit</span></a> -->
		</div>
	</div>

	<div id="chat" ng-model="chat">
		<ul id="messages">
			
		</ul>
		<form id="chat-form" ng-submit="sendChat()">
			<span>&nbsp&nbsp&nbsp &nbsp &nbsp &nbsp</span>
		    <input id="chat-text" ng-model="chatText" maxlength="255" autofocus ng-enter="sendChat()">
		    <svg id="chat-enter" class="button small" ng-click="sendChat()" width="95" height="35" viewBox="0 0 95 35">
				<path id="smlbuttonbase" d="M5 10h20l10-5h55v10l-5 10v5H5z"/>
				<path id="smlbuttoncornerone" d="M5 0H0v5h1V1h4z"/>
				<path id="smlbuttoncornertwo" d="M90 0h5v5h-1V1h-4z"  />
				<path id="smlbuttoncornerthree" d="M5 35H0v-5h1v4h4z" />
				<path id="smlbuttoncornerfour" d="M95 30v5h-5v-1h4v-4z" />		
				<text fill="black" x="48" y="23" text-anchor="middle" >Send</text>
			</svg>

		</form>
	</div>

	<!-- Main menu modal -->
    <div class="modal" ng-init="showQuitModal = false;"
		ng-class="{'dim-lights': showQuitModal}">
		<div class="modal-dialog" ng-init="showQuitModal = false;"
			ng-class="{'show-modal': showQuitModal}">
			
			<span class="modal-X batch" data-icon='&#xf14e' 
				ng-click="showQuitModal = false;" 
				ng-class="{'show-modal-btn': showQuitModal}"></span>

			<div class="vert-align">
			
				<h3 class="modal-prompt">Are you sure you want to return to the Main Menu?</h3>
				
				<div class="row">
					<div class="col-xs-4 col-xs-offset-2 ">
						<svg class="button red redhover modal-btn" width="170" height="70" viewBox="0 0 170 70"  ng-mouseover="mouse_over()" ng-click="mouse_click(); quitToMenu()"
							ng-init="showQuitModal = false;" ng-class="{'show-modal-btn': showQuitModal}">
							<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
							<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
							<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
							<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
							<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
							<text fill="white" x="85" y="40" text-anchor="middle" >Yes</text>
						</svg>
					</div>
					<div class="col-xs-4 ">
						<svg class="button blue bluehover modal-btn" width="170" height="70" viewBox="0 0 170 70" ng-mouseover="mouse_over()" ng-click="mouse_click(); showQuitModal = false;"
						ng-init="showQuitModal = false;" ng-class="{'show-modal-btn': showQuitModal}">
							<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
							<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
							<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
							<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
							<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
							<text fill="white" x="85" y="40" text-anchor="middle" >No</text>
						</svg>
					</div>
					</div>
				</div>
			</div>
		</div>
    </div>

	<!-- New game modal -->
    <div class="modal" ng-init="showNewGameModal = false;"
		ng-class="{'dim-lights': showNewGameModal}">
		<div class="modal-dialog" ng-init="showNewGameModal = false;"
			ng-class="{'show-modal': showNewGameModal}">
			
			<span class="modal-X batch" data-icon='&#xf14e' 
				ng-click="mouse_click(); showNewGameModal = false;" 
				ng-class="{'show-modal-btn': showNewGameModal}"></span>
			
			<h3 class="modal-prompt">Are you sure you want to start a new game?</h3>
			
			<div class="row">
				<div class="col-xs-4 col-xs-offset-2">
					<svg class="button red redhover modal-btn" width="170" height="70" viewBox="0 0 170 70"  ng-mouseover="mouse_over()" ui-sref="newgame"
					ng-click="mouse_click(); showNewGameModal = false;" 
					ng-class="{'show-modal-btn': showNewGameModal}">
						<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
						<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
						<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
						<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
						<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
						<text fill="white" x="85" y="40" text-anchor="middle" >Yes</text>
					</svg>
					
				</div>
				<div class="col-xs-4">

					<svg class="button blue bluehover modal-btn" width="170" height="70" viewBox="0 0 170 70"  ng-mouseover="mouse_over()" ng-click="mouse_click(); showNewGameModal = false;" 
					ng-init="showNewGameModal = false;" ng-class="{'show-modal-btn': showNewGameModal}">
						<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
						<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
						<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
						<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
						<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
						<text fill="white" x="85" y="40" text-anchor="middle" >No</text>
					</svg>

				</div>
			</div>
		</div>
    </div>
	
	<!-- Options modal -->
	<div class="modal options-modal" ng-init="showOptionsModal = false;"
		ng-class="{'dim-lights': showOptionsModal}">
		<div class="modal-dialog batch" ng-init="showOptionsModal = false;"
			ng-class="{'show-modal options-modal': showOptionsModal}">
			
			<span class="modal-X batch" data-icon='&#xf14e' 
				ng-click="mouse_click(); showOptionsModal = false;" 
				ng-class="{'show-modal-btn': showOptionsModal}"></span>
			
			<h3 class="modal-prompt">Options</h3>
			
			<div ng-controller="OptionsCtrl">
					<div class="row">
						<div class="col-xs-12 batch">
							<svg class="button long modal-btn" ng-click="toggleMusic()" width="250" height="50" viewBox="0 0 250 50.000001" >
								<g>
									<path id="lngbuttonbase" d="M10 15h80l10-5h140v10l-5 10v10H10z"/>
									<path id="lngbuttoncornerone" d="M0 10h2V2h8V0H0z"/>
									<path id="lngbuttoncornertwo" d="M250 10h-2V2h-8V0h10z"/>
									<path id="lngbuttoncornerthree" d="M0 40h2v8h8v2H0z"/>
									<path id="lngbuttoncornerfour" d="M250 40h-2v8h-8v2h10z"/>
									<text fill="black" x="125" y="33" text-anchor="middle" id="mute-musicbtn">Mute Music</text>
									<text fill="black" x="220" y="33" text-anchor="middle" id="mute-icon1">&#xf03b</text>
								</g>
							</svg>
						</div>
						<br>
						<br>
						<div class="col-xs-12 batch">
							<svg class="button long modal-btn" ng-click="toggleSound()" width="250" height="50" viewBox="0 0 250 50.000001" >
								<g>
									<path id="lngbuttonbase" d="M10 15h80l10-5h140v10l-5 10v10H10z"/>
									<path id="lngbuttoncornerone" d="M0 10h2V2h8V0H0z"/>
									<path id="lngbuttoncornertwo" d="M250 10h-2V2h-8V0h10z"/>
									<path id="lngbuttoncornerthree" d="M0 40h2v8h8v2H0z"/>
									<path id="lngbuttoncornerfour" d="M250 40h-2v8h-8v2h10z"/>
									<text fill="black" x="125" y="33" text-anchor="middle" id="mute-soundbtn">Mute SoundFX</text>
									<text fill="black" x="220" y="33" text-anchor="middle" id="mute-icon2">&#xf03b</text>
								</g>
							</svg>
						</div>
						<br>
						<br>
						<div class="col-xs-12 batch">
							<svg class="button long modal-btn" ng-click="toggleParticles()" width="250" height="50" viewBox="0 0 250 50.000001" >
								<g>
									<path id="lngbuttonbase" d="M10 15h80l10-5h140v10l-5 10v10H10z"/>
									<path id="lngbuttoncornerone" d="M0 10h2V2h8V0H0z"/>
									<path id="lngbuttoncornertwo" d="M250 10h-2V2h-8V0h10z"/>
									<path id="lngbuttoncornerthree" d="M0 40h2v8h8v2H0z"/>
									<path id="lngbuttoncornerfour" d="M250 40h-2v8h-8v2h10z"/>
									<text fill="black" x="125" y="33" text-anchor="middle" id="pause-particlebtn">Pause Particles</text>
								</g>
							</svg>
						</div>
					</div>
			</div>
		</div>
    </div>

	<!-- Help modal -->
    <div class="modal" ng-init="showHelpModal = false;"
		ng-class="{'dim-lights': showHelpModal}">
		<div class="modal-dialog help-modal" ng-init="showHelpModal = false;"
			ng-class="{'show-modal': showHelpModal}">
			
			<span class="modal-X batch" data-icon='&#xf14e' 
				ng-click="mouse_click(); showHelpModal = false;" 
				ng-class="{'show-modal-btn': showHelpModal}"></span>
			
			<h3 class="modal-prompt">How To Play</h3>
			<p class="help-modal-text"> 
				Move your muons (or anti-muons) from your initial quadrant to form a triangle in any one of the other three pyramid quadrants. The first player to create a triangle of 3 muons inside one of the quadrants, wins the game. Once you have cleared all 5 of your muons out of your initial quadrant, you can win by forming a triangle in your home quadrant as well.
			</p>
			
			<div class="row">
				<div class="col-xs-4 col-xs-offset-4">

					<svg class="button green greenhover modal-btn" width="170" height="70" viewBox="0 0 170 70"  ng-mouseover="mouse_over()" ng-click="mouse_click(); showHelpModal = false;" 
					ng-init="showHelpModal = false;" ng-class="{'show-modal-btn': showHelpModal}">
						<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
						<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
						<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
						<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
						<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
						<text fill="white" x="85" y="40" text-anchor="middle" >Okay</text>
					</svg>
				</div>
			</div>
		</div>
    </div>

	<!-- Quit game modal -->
    <div class="modal" ng-init="showQuitMuonModal = false;"
		ng-class="{'dim-lights': showQuitMuonModal}">
		<div class="modal-dialog" ng-init="showQuitMuonModal = false;"
			ng-class="{'show-modal': showQuitMuonModal}">
			
			<span class="modal-X batch" data-icon='&#xf14e' 
				ng-click="mouse_click(); showQuitMuonModal = false;" 
				ng-class="{'show-modal-btn': showQuitMuonModal}"></span>
			
			<h3 class="modal-prompt">Are you sure you want to quit Muon?</h3>
			
			<div class="row">
				<div class="col-xs-4 col-xs-offset-2">
					<input type="button" ng-mouseover="mouse_over()" class="modal-btn button" ng-click="mouse_click(); showQuitMuonModal = false;" 
						value="Cancel"
						ng-init="showQuitMuonModal = false;" ng-class="{'show-modal-btn': showQuitMuonModal}" />
				</div>
				<div class="col-xs-4">
					<input type="button" ng-mouseover="mouse_over()" class="modal-btn button" ui-sref="quit" value="Quit" 
						ng-init="showQuitMuonModal = false;" ng-class="{'show-modal-btn': showQuitMuonModal}" />
				</div>
			</div>
		</div>
    </div>