<!-- views/howto.html -->
<h1 class="view-heading">How To Play</h1>
<div class="help-container">
	<div class="row">
		<div class="col-xs-6 muon-container">
			
		</div>
		<div id="stepContainer" class="col-xs-6">
			<h2 id="stepOne" style="position: absolute; top: 240px"></h2>
			<h2 id="stepTwo" style="position: absolute; top: 440px"></h2>
			<br>
			<h4 id="stepThree" style="position: absolute; top: 520px; margin-right: 15px;"></h4>
		</div>
	</div>
</div>

<div class="help-back">
	<a class="button" onclick="history.back()">
		<span class='batch' data-icon='&#xf14a'></span> Back
	</a>
</div>
<div class="menu">
	<a class="button" ui-sref="menu">
		Menu <span class='batch' data-icon='&#xF0A9'></span>
	</a>
</div>
<div class="next">
	<a class="button" ui-sref="help2">
		Next <span class='batch' data-icon='&#xf14b'></span>
	</a>
</div>