<!-- views/help2.html -->
<div class="help-container row">
	<div class="col-xs-7">
		<div id="board-componant" class="gameboard">
		    <img src="./images/boardElec.gif" sb-load="gameboardLoaded($event)">
		</div>
		<div id="flagG" class="gameboard flag">
		    <img src="./images/flagG.svg">
		</div>
		<div id="flagB" class="gameboard flag">
		    <img src="./images/flagB.svg">
		</div>
		<div class="gameboard">
		    <img src="./images/boardPlaces.svg">
		</div>
		<div class="gamepeices gameboard">
		  
		</div>
	</div>
	<div class="col-xs-5">
		<div id="stepContainer" class="text-container" style="
			margin-top: 45%;
			padding-right: 10%;
		">
			<div id="stepOne"></div>
			<br><br>
			<div id="stepTwo"></div>
		</div>
	</div>
</div>
<div class="help-back">
	<a class="button" onclick="history.back()">
		<span class='batch' data-icon='&#xf14a'></span> Back
	</a>
</div>
<div class="menu">
	<a class="button" ui-sref="menu">
		Menu <span class='batch' data-icon='&#xF0A9'></span>
	</a>
</div>
<div class="next">
	<a class="button" onclick="gameCore.endTutorial()" ui-sref="newgame">
		Play! <span class='batch' data-icon='&#xf164'></span>
	</a>
</div>