<!-- views/howto.html -->
<h1 class="view-heading">How To Play</h1>
<div class="help-container">
	<div class="row">
		<div class="col-xs-6 muon-container">
			
		</div>
		<div id="stepContainer" class="col-xs-6">
			<h2 id="stepOne" style="position: absolute; top: 240px">This is a Muon</h2>
			<h2 id="stepTwo" style="position: absolute; top: 440px">This is an Anti-muon</h2>
			<br>
			<h4 id="stepThree" style="position: absolute; top: 520px; margin-right: 15px;">Muons and Anti-muons are fighting against each other inside of atoms to form matter, or anti-matter.</h4>
		</div>
	</div>
</div>

<div class="menu batch">
	<svg class="button blue" width="170" height="70" viewBox="0 0 170 70" ui-sref="menu">
		<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
		<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
		<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
		<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
		<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
		<text fill="black" x="85" y="40" text-anchor="middle">&#xf14a Menu</text>
	</svg>	
</div>
<div class="next batch">
	<!-- <a class="button" ui-sref="helpBoardAndUI">
		Next <span class='batch' data-icon='&#xf14b'></span>
	</a> -->
	<svg class="button blue" width="170" height="70" viewBox="0 0 170 70" ng-click="next_slide()">
		<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
		<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
		<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
		<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
		<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
		<text fill="black" x="85" y="40" text-anchor="middle">Next &#xf14b</text>
	</svg>	
</div>