<!-- views/help2.html -->
<h1 class="view-heading">How To Play</h1>
<div class="row">
	<div class="col-xs-6">
		<div class="gameboard" style="
		    margin-top: 10%;
		    position: relative;
		    left: 0%;
		    transform: none;
		">
		    <img src="./images/newBoard.png">
		</div>
		<div class="gamepeices">
		  
		</div>
	</div>
	<div class="col-xs-6">
		<div class="text-container" style="
			margin-top: 20%;
			padding-right: 10%;
		">
			<p>This is the game board. The game board is made up of four sections called quadrants.</p>
			<p>These sub-atomic particles will gain control of an atom if they form a link of 3 in the shape of a triangle in any of the 4 quadrants that make up the atom</p>
		</div>
	</div>
</div>
<div class="back">
	<a class="button" onclick="history.back()">
		<span class='batch' data-icon='&#xf14a'></span> Back
	</a>
</div>
<div class="next">
	<a class="button" ui-sref="help3">
		Next <span class='batch' data-icon='&#xf14b'></span>
	</a>
</div>