<div class="row help-container" >
	<div class="col-xs-7">
		<div id="board-componant" class="gameboard">
		    <img src="./images/boardElec.gif" sb-load="gameboardLoaded($event)">
		</div>
		<div id="flagG" class="gameboard flag">
		    <img src="./images/flagG.svg">
		</div>
		<div id="flagB" class="gameboard flag">
		    <img src="./images/flagB.svg">
		</div>
		<div class="gameboard">
		    <img src="./images/boardPlaces.svg">
		</div>
		<div class="gamepieces gameboard">
		  
		</div>
	</div>
	<div class="col-xs-5">
		<div id="stepContainer" class="text-container">
			<div id="step-content">
				Give it a shot! Click on a green Muon and then click on an adjacent void to move into it.
			</div>
			<div id="lower-content" class="fade-out">
				Clear all of the green Muons out of their home quadrant...
			</div>
			<div id="bottom-content" class="fade-out">
				Nice work! Hit next to continue...
			</div>
		</div>
	</div>
</div>
<div class="help-back batch">
	<!-- <a class="button" ng-click="prev_slide()">
		<span class='batch' data-icon='&#xf14a'></span> Back
	</a> -->
	<svg class="button blue" width="170" height="70" viewBox="0 0 170 70" ng-click="prev_slide()">
		<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
		<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
		<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
		<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
		<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
		<text fill="black" x="85" y="40" text-anchor="middle">&#xf14a Back</text>
	</svg>	
</div>
<div class="menu">
	<svg class="button blue" width="170" height="70" viewBox="0 0 170 70" ui-sref="menu">
		<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
		<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
		<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
		<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
		<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
		<text fill="black" x="85" y="40" text-anchor="middle">Menu</text>
	</svg>
</div>
<div class="next batch">
	<!-- <a class="button" ng-click="next_slide()">
		Next <span class='batch' data-icon='&#xf14b'></span>
	</a> -->
	<svg class="button blue" width="170" height="70" viewBox="0 0 170 70" ui-sref="help4">
		<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
		<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
		<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
		<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
		<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
		<text fill="black" x="85" y="40" text-anchor="middle">Next &#xf14b</text>
	</svg>
</div>