<!-- views/help2.html -->
<h1 class="view-heading">How To Play</h1>
<div class="row help-container" >
	<div class="col-xs-6">
		<div class="gameboard" style="
		    margin-top: 10%;
		    position: relative;
		    left: 0%;
		    transform: none;
		">
		    <img src="./images/triangle.png">
		</div>
		<div class="gamepeices muon-container">
		  
		</div>
	</div>
	<div class="col-xs-6">
		<div class="text-container" style="
			margin-top: 20%;
			padding-right: 10%;
		">
			<h1>This is inside of an atom. The atom is made up of four sections called quadrants.</h1>
			<h1>Muons will gain control of the atom if they form a link of 3 in the shape of a triangle in any of the 4 quadrants that make up the atom</h1>
		</div>
	</div>
</div>
<div class="back">
	<a class="button" onclick="history.back()">
		<span class='batch' data-icon='&#xf14a'></span> Back
	</a>
</div>
<div class="menu">
	<a class="button" ui-sref="menu">
		Menu <span class='batch' data-icon='&#xf164'></span>
	</a>
</div>
<div class="next">
	<a class="button" ui-sref="help3">
		Next <span class='batch' data-icon='&#xf14b'></span>
	</a>
</div>