<!-- views/help2.html -->
<div class="row help-container" >
	<div class="col-xs-7">
		<div id="board-componant" class="gameboard">
		    <img src="./images/boardElec.gif" sb-load="gameboardLoaded($event)">
		</div>
		<div id="flagG" class="gameboard flag">
		    <img src="./images/flagG.svg">
		</div>
		<div id="flagB" class="gameboard flag">
		    <img src="./images/flagB.svg">
		</div>
		<div class="gameboard">
		    <img src="./images/boardPlaces.svg">
		</div>
		<div class="gamepieces gameboard">
		  
		</div>
	</div>
	<div class="col-xs-5">
		<div id="stepContainer" class="text-container" style="
			margin-top: 90%;
			padding-right: 10%;
		">
			<div id="stepOne"></div>
		</div>

		<div id="stats_slide" class="game-stats fade-out" style="color: black;">
			<div class="move-count-container">
				<h3 id="moveCountHeader">Moves</h3>
				<h1 id="moveCount">0</h1>
			</div>

			<div class="timer-container">
				<h3 id="timerHeader">Time</h3>
				<h1 id="timer">0</h1>
			</div>

			<div class="move-count-container">
				<h3 id="moveCountHeader">Turn</h3>
				<h1 id="moveIndicatorHeader">Yours</h1>
			</div>
		</div>

		<div id="menu_slide" class="game-sidebar fade-out">
			<div class="game-menu-container">
			<span data-balloon-length="medium" data-balloon-pos="left" data-balloon="Forfeit game and exit to the Main Menu">
			<svg class="button blue bluehover" width="170" height="70" viewBox="0 0 170 70" ng-click="showQuitModal = true; mouse_click();" ng-mouseover="mouse_over()">
				<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
				<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
				<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
				<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
				<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
				<text fill="white" x="85" y="40" text-anchor="middle" >Main Menu</text>
			</svg>
			</span>
			<span data-balloon-length="medium" data-balloon-pos="left" data-balloon="Propose a draw">
			<svg class="button blue bluehover" width="170" height="70" viewBox="0 0 170 70" ng-click="proposeDraw(); mouse_click();" ng-mouseover="mouse_over()">>
				<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
				<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
				<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
				<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
				<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
				<text fill="white" x="85" y="40" text-anchor="middle" >Draw</text>
			</svg>
			</span>
			<span data-balloon-length="medium" data-balloon-pos="left" data-balloon="Propose a draw">
			<svg class="button blue bluehover" width="170" height="70" viewBox="0 0 170 70" ng-click="showNewGameModal = true; mouse_click();" ng-mouseover="mouse_over()" ng-show="!isNetworkGame">
				<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
				<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
				<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
				<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
				<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
				<text fill="white" x="85" y="40" text-anchor="middle" >New Game</text>
			</svg>
			</span>
			<span data-balloon-length="medium" data-balloon-pos="left" data-balloon="Change sound options">
			<svg class="button blue bluehover" width="170" height="70" viewBox="0 0 170 70" ng-click="showOptionsModal = true; mouse_click();" ng-mouseover="mouse_over()">
				<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
				<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
				<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
				<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
				<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
				<text fill="white" x="85" y="40" text-anchor="middle" >Options</text>
			</svg>
			</span>
			<span data-balloon-length="medium" data-balloon-pos="left" data-balloon="Summary of how to play">
			<svg class="button blue bluehover" width="170" height="70" viewBox="0 0 170 70" ng-click="showHelpModal = true; mouse_click();" ng-mouseover="mouse_over()">
				<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
				<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
				<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
				<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
				<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
				<text fill="white" x="85" y="40" text-anchor="middle" >Help</text>
			</svg>
			</span>
			<!-- <a ng-click="showQuitMuonModal = true"><span data-balloon-length="medium" data-balloon-pos="left" data-balloon="Quit game and close">Quit</span></a> -->
		</div>
		</div>
	</div>
</div>
<div class="help-back batch">
	<!-- <a class="button" ng-click="prev_slide()">
		<span class='batch' data-icon='&#xf14a'></span> Back
	</a> -->
	<svg class="button blue" width="170" height="70" viewBox="0 0 170 70" ng-click="prev_slide()">
		<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
		<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
		<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
		<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
		<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
		<text fill="black" x="85" y="40" text-anchor="middle">&#xf14a Back</text>
	</svg>	
</div>
<div class="menu">
	<svg class="button blue" width="170" height="70" viewBox="0 0 170 70" ui-sref="menu">
		<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
		<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
		<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
		<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
		<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
		<text fill="black" x="85" y="40" text-anchor="middle">Menu</text>
	</svg>
</div>
<div class="next batch">
	<!-- <a class="button" ng-click="next_slide()">
		Next <span class='batch' data-icon='&#xf14b'></span>
	</a> -->
	<svg class="button blue" width="170" height="70" viewBox="0 0 170 70" ng-click="next_slide()">
		<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
		<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
		<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
		<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
		<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
		<text fill="black" x="85" y="40" text-anchor="middle">Next &#xf14b</text>
	</svg>
</div>