<!-- views/help2.html -->
<div class="help-container row">
	<div class="col-xs-7">
		<div id="board-componant" class="gameboard">
		    <img src="./images/boardElec.gif" sb-load="gameboardLoaded($event)">
		</div>
		<div id="flagG" class="gameboard flag">
		    <img src="./images/flagG.svg">
		</div>
		<div id="flagB" class="gameboard flag">
		    <img src="./images/flagB.svg">
		</div>
		<div class="gameboard">
		    <img src="./images/boardPlaces.svg">
		</div>
		<div class="gamepieces gameboard">
		  
		</div>
	</div>
	<div class="col-xs-5">
		<div id="stepContainer" class="text-container">
			<div id="step-content">
				
			</div>
			<div id="lower-content" class="fade-out">
				
			</div>
		</div>
	</div>
</div>
<div class="help-back batch">
	<svg class="button blue" width="170" height="70" viewBox="0 0 170 70" onclick="history.back()">
		<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
		<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
		<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
		<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
		<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
		<text fill="black" x="85" y="40" text-anchor="middle">&#xf14a Back</text>
	</svg>
</div>
<div class="menu batch">
	<svg class="button blue" width="170" height="70" viewBox="0 0 170 70" ui-sref="menu">
		<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
		<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
		<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
		<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
		<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
		<text fill="black" x="85" y="40" text-anchor="middle">Menu</text>
	</svg>
</div>
<div class="next batch">
	<svg class="button blue" width="170" height="70" viewBox="0 0 170 70" ui-sref="newgame">
		<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
		<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
		<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
		<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
		<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
		<text fill="black" x="85" y="40" text-anchor="middle">Play! &#xf14b</text>
	</svg>
</div>