<!-- views/howto.html -->
<h1 class="view-heading">How To Play</h1>
<div class="row">
	<div class="col-xs-3">Image of muon</div>
	<div class="col-xs-6">
		<div align="left">This is a muon</div>
		<div align="right">This is an anti-muon</div>
	</div>
	<div class="col-xs-3">Image of anti-muon</div>
</div>
<div class="row">
	<div class="col-xs-12">Muons and anti-muons are constantly struggling against each other to gain control of atoms</div>
</div>
<div class="back">
	<a class="button" onclick="history.back()">
		<span class='batch' data-icon='&#xf14a'></span> Back
	</a>
</div>
<div class="next">
	<a class="button" ui-sref="help2">
		Next <span class='batch' data-icon='&#xf14b'></span>
	</a>
</div>