<!-- views/help2.html -->
<h1 class="view-heading">How To Play</h1>
<div class="row">
	<div class="col-xs-12">Image of game in play goes here</div>
</div>
<div class="row">
	<div class="col-xs-12">Try to gain control of the atom by moving the muons accross the board. But remember, the anti-muons will be trying to gain control of the atmom, too! So try to block them from creating a link of three particles while you move to claim the atom yourself!</div>
</div>
<div class="back">
	<a class="button" onclick="history.back()">
		<span class='batch' data-icon='&#xf14a'></span> Back
	</a>
</div>
<div class="next">
	<a class="button" ui-sref="menu">
		Done <span class='batch' data-icon='&#xf164'></span>
	</a>
</div>