<!-- views/menu.html -->
<body>
<div class="logo">
	<h1>muon</h1>
	<!-- <img src="./images/muon.svg"> -->
</div>
<div class="menu-container">
    <div class="main-menu"> 
        <div class="main-menu-item" id="item1" ng-mouseover="mouse_over()">
			<a ui-sref="newgame" ng-click="mouse_click()">
				<div class="item-pointer left">
					<div class="pointer-inner one"></div>
					<div class="pointer-inner two"></div>
					<div class="pointer-inner three"></div>
				</div>
				New Game
				<div class="item-pointer right">
					<div class="pointer-inner one"></div>
					<div class="pointer-inner two"></div>
					<div class="pointer-inner three"></div>
				</div>
			</a></div>
        <div class="main-menu-item" ng-mouseover="mouse_over()">
			<a ng-click="showNetworkModal()">
				<div class="item-pointer left">
					<div class="pointer-inner one"></div>
					<div class="pointer-inner two"></div>
					<div class="pointer-inner three"></div>
				</div>
				Network
				<div class="item-pointer right">
					<div class="pointer-inner one"></div>
					<div class="pointer-inner two"></div>
					<div class="pointer-inner three"></div>
				</div>
			</a></div>
        <div class="main-menu-item" ng-mouseover="mouse_over()">
			<a ui-sref="howto" ng-click="mouse_click()">
				<div class="item-pointer left">
					<div class="pointer-inner one"></div>
					<div class="pointer-inner two"></div>
					<div class="pointer-inner three"></div>
				</div>
				Tutorial
				<div class="item-pointer right">
					<div class="pointer-inner one"></div>
					<div class="pointer-inner two"></div>
					<div class="pointer-inner three"></div>
				</div>
			</a></div>
        <div class="main-menu-item" ng-mouseover="mouse_over()">
			<a ui-sref="options" ng-click="mouse_click()">
				<div class="item-pointer left">
					<div class="pointer-inner one"></div>
					<div class="pointer-inner two"></div>
					<div class="pointer-inner three"></div>
				</div>
				Options
				<div class="item-pointer right">
					<div class="pointer-inner one"></div>
					<div class="pointer-inner two"></div>
					<div class="pointer-inner three"></div>
				</div>
			</a></div>
        <div class="main-menu-item" ng-mouseover="mouse_over()">
			<a ui-sref="about" ng-click="mouse_click()">
				<div class="item-pointer left">
					<div class="pointer-inner one"></div>
					<div class="pointer-inner two"></div>
					<div class="pointer-inner three"></div>
				</div>
				About
				<div class="item-pointer right">
					<div class="pointer-inner one"></div>
					<div class="pointer-inner two"></div>
					<div class="pointer-inner three"></div>
				</div>
			</a></div>
        <div class="main-menu-item" ng-mouseover="mouse_over()">
			<a ui-sref="quit" ng-click="mouse_click()">
				<div class="item-pointer left">
					<div class="pointer-inner one"></div>
					<div class="pointer-inner two"></div>
					<div class="pointer-inner three"></div>
				</div>
				Quit
				<div class="item-pointer right">
					<div class="pointer-inner one"></div>
					<div class="pointer-inner two"></div>
					<div class="pointer-inner three"></div>
				</div>
			</a></div>
    </div>
</div>

<div class="modal" ng-init="showNetworkingModal = false;"
	ng-class="{'dim-lights': showNetworkingModal}">
	<div class="modal-dialog" ng-init="showNetworkingModal = false;"
		ng-class="{'show-modal': showNetworkingModal}">
		
		<span class="modal-X batch" data-icon='&#xf14e' 
		ng-click="showNetworkingModal = false;" 
		ng-class="{'show-modal-btn': showNetworkingModal}"></span>
		
		<h3 class="modal-prompt">Please enter a username:</h3>

		<form name="usernameForm">
		<!-- <a ng-click="joinLobby(username)">Join Lobby</a> -->
		<div class="row">
			<div class="col-xs-12"><input type="text" ng-model="username" 
			id="usernameInput"
			class="modal-txt-box" ng-enter="goToNetworkingPage(username)"
			ng-class="{'show-modal-txt-box': showNetworkingModal}" required/></div>
		</div>
		<div class="row">
				<div class="col-xs-4 col-xs-offset-2">
					<input type="button" class="modal-btn" value="Connect" 
					ng-class="{'show-modal-btn': showNetworkingModal}" 
					ng-click="goToNetworkingPage(username)"
					ng-disabled="usernameForm.$invalid"/>
				</div>
				<div class="col-xs-4">
					<input type="button" class="modal-btn" ng-click="showNetworkingModal = false;" 
					value="Cancel" ng-class="{'show-modal-btn': showNetworkingModal}" />
				</div>
		</div>
		</form>
		


	</div>
</div>
</body>