<!-- views/menu.html -->
<body>
<div class="logo">
	<h1>muon</h1>
	<!-- <img src="./images/muon.svg"> -->
</div>

<div class="menu-container">
    <div class="main-menu"> 
        <div class="main-menu-item" ng-mouseover="mouse_over(1)">
			<a id="item1" ui-sref="newgame" ng-click="mouse_click()" tabindex="1">
				<div class="item-pointer left">
					<div class="pointer-inner one"></div>
					<div class="pointer-inner two"></div>
					<div class="pointer-inner three"></div>
				</div>
				New Game
				<div class="item-pointer right">
					<div class="pointer-inner one"></div>
					<div class="pointer-inner two"></div>
					<div class="pointer-inner three"></div>
				</div>
			</a></div>
        <div class="main-menu-item" ng-mouseover="mouse_over(2)">
			<a id="item2" ng-enter="showNetworkModal()" ng-click="showNetworkModal()" tabindex="2">
				<div class="item-pointer left">
					<div class="pointer-inner one"></div>
					<div class="pointer-inner two"></div>
					<div class="pointer-inner three"></div>
				</div>
				Network
				<div class="item-pointer right">
					<div class="pointer-inner one"></div>
					<div class="pointer-inner two"></div>
					<div class="pointer-inner three"></div>
				</div>
			</a></div>
        <div class="main-menu-item" ng-mouseover="mouse_over(3)">
			<a id="item3" ui-sref="howto" ng-click="mouse_click()" tabindex="3">
				<div class="item-pointer left">
					<div class="pointer-inner one"></div>
					<div class="pointer-inner two"></div>
					<div class="pointer-inner three"></div>
				</div>
				Tutorial
				<div class="item-pointer right">
					<div class="pointer-inner one"></div>
					<div class="pointer-inner two"></div>
					<div class="pointer-inner three"></div>
				</div>
			</a></div>
        <div class="main-menu-item" ng-mouseover="mouse_over(4)">
			<a id="item4" ui-sref="options" ng-click="mouse_click()" tabindex="4">
				<div class="item-pointer left">
					<div class="pointer-inner one"></div>
					<div class="pointer-inner two"></div>
					<div class="pointer-inner three"></div>
				</div>
				Options
				<div class="item-pointer right">
					<div class="pointer-inner one"></div>
					<div class="pointer-inner two"></div>
					<div class="pointer-inner three"></div>
				</div>
			</a></div>
        <div class="main-menu-item" ng-mouseover="mouse_over(5)">
			<a id="item5" ui-sref="about" ng-click="mouse_click()" tabindex="5">
				<div class="item-pointer left">
					<div class="pointer-inner one"></div>
					<div class="pointer-inner two"></div>
					<div class="pointer-inner three"></div>
				</div>
				About
				<div class="item-pointer right">
					<div class="pointer-inner one"></div>
					<div class="pointer-inner two"></div>
					<div class="pointer-inner three"></div>
				</div>
			</a></div>
        <div class="main-menu-item" ng-mouseover="mouse_over(6)">
			<a id="item6" ui-sref="quit" ng-click="mouse_click()" tabindex="6">
				<div class="item-pointer left">
					<div class="pointer-inner one"></div>
					<div class="pointer-inner two"></div>
					<div class="pointer-inner three"></div>
				</div>
				Quit
				<div class="item-pointer right">
					<div class="pointer-inner one"></div>
					<div class="pointer-inner two"></div>
					<div class="pointer-inner three"></div>
				</div>
			</a></div>
    </div>
</div>

<div class="modal" ng-init="showNetworkingModal = false;"
	ng-class="{'dim-lights': showNetworkingModal}">
	<div class="modal-dialog" ng-init="showNetworkingModal = false;"
		ng-class="{'show-modal': showNetworkingModal}">
		
		<span class="modal-X batch" data-icon='&#xf14e' 
		ng-click="showNetworkingModal = false;" 
		ng-class="{'show-modal-btn': showNetworkingModal}"></span>
		
		<h3 class="modal-prompt" style="margin-top: 25px;">Please enter a username</h3>
		<p class="username-tip">You can change it later from in the options.</p>

		<form name="usernameForm">
		<div class="row">
			<div class="col-xs-12">
			<input type="text" ng-model="username" 
			id="usernameInput" maxlength="13" ng-change="usernameInputChanged(username)"
			class="modal-txt-box" ng-enter="saveNetworkingUsername(username)"
			ng-class="{'show-modal-txt-box': showNetworkingModal}" required/></div>
		</div>
		<div class="row" style="margin-top: 15px;">
				<div class="col-xs-4 col-xs-offset-2">
					<!-- <input type="button" class="modal-btn button" value="Connect" 
					ng-class="{'show-modal-btn': showNetworkingModal}" 
					ng-click="saveNetworkingUsername(username)"
					ng-disabled="usernameForm.$invalid"/> -->
					<svg id="connectButton" class="button disabled modal-btn" width="170" height="70" viewBox="0 0 170 70"  
					ng-class="{'show-modal-btn': showNetworkingModal}"
					ng-mouseover="mouse_over()" ng-click="mouse_click(); saveNetworkingUsername(username);" 
					ng-init="showNewGameModal = false;" ng-class="{'show-modal-btn': showNewGameModal}">
						<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
						<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone" class="disabled"/>
						<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo" class="disabled"/>
						<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree" class="disabled"/>
						<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour" class="disabled"/>
						<text fill="white" x="85" y="40" text-anchor="middle" >Connect</text>
					</svg>
				</div>
				<div class="col-xs-4">
					<!-- <input type="button" class="modal-btn button" ng-click="showNetworkingModal = false;" 
					value="Cancel" ng-class="{'show-modal-btn': showNetworkingModal}" /> -->
					<svg class="button blue bluehover modal-btn" width="170" height="70" viewBox="0 0 170 70"  
					ng-mouseover="mouse_over()" ng-click="mouse_click(); showNetworkingModal = false;" 
					ng-class="{'show-modal-btn': showNetworkingModal}"
					ng-init="showNewGameModal = false;" ng-class="{'show-modal-btn': showNewGameModal}">
						<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
						<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
						<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
						<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
						<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
						<text fill="white" x="85" y="40" text-anchor="middle" >Cancel</text>
					</svg>
				</div>
		</div>
		</form>
		


	</div>
</div>
</body>