<!-- views/network.html -->
<h1 class="view-heading">Network Lobby</h1>
<!-- <a class="button" ng-click="refresh()">
    <span>refresh</span> <span class='batch' data-icon='&#xf0b0'></span>
 </a> -->
<h3>Online players: <span id="onlinePlayerCount">0</span></h3>
<div class="row">
	<div class="col-xs-2 col-xs-offset-1" id="lobbyDiv">
		<h3>Lobby</h3>
		<ul id="lobby-list">
			
		</ul>
	</div>
	<div class="col-xs-6 col-xs-offset-1" id="roomDiv">
		<h3>Rooms</h3>
		<ul id="room-list">
			
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<a class="button" ng-click="createRoom()">
		    <span >Create Room</span>
		</a>
	</div>
</div>


<div class="back">
	<a class="button" ui-sref="menu">
		<span class='batch' data-icon='&#xf14a'></span> Menu
	</a>
</div>

