<!-- views/network.html -->
<h1 class="view-heading" style="text-align:center;">Network Lobby</h1>
<!-- <a class="button" ng-click="refresh()">
    <span>refresh</span> <span class='batch' data-icon='&#xf0b0'></span>
 </a> -->
<h3>Online players: <span id="onlinePlayerCount">0</span></h3>
<div class="row">
	<div class="col-xs-2 col-xs-offset-1" id="lobbyDiv">
		<h3>Lobby</h3>
		<ul id="lobby-list">
			
		</ul>
	</div>
	<div class="col-xs-6 col-xs-offset-1" id="roomDiv">
		<h3>Rooms</h3>
		<ul id="room-list">
			
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<svg class="button blue" width="170" height="70" viewBox="0 0 170 70" ng-click="createRoom()">
			<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
			<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
			<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
			<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
			<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
			<text fill="black" x="85" y="40" text-anchor="middle">Create Room</text>
		</svg>
	</div>
</div>


<div class="back">
	<svg class="button blue" width="170" height="70" viewBox="0 0 170 70" ui-sref="menu">
		<path style="stroke-miEterlimit:4" d="M10 15h40l10-4.99998h100v20.00002l-5 10v20H10z" id="buttonbase" opacity=".64855077"/>
		<path d="M0 .00002h10V2H2v8.00002H0z" id="buttoncornerone"/>
		<path d="M170-.00004V10h-2V1.99996h-8v-2z" id="buttoncornertwo"/>
		<path d="M0 70.00004h10v-2H2v-8H0z" id="buttoncornerthree"/>
		<path d="M170 70.00004h-10v-2h8v-8h2z" id="buttoncornerfour"/>
		<text fill="black" x="85" y="40" text-anchor="middle">Menu</text>
	</svg>
</div>

