<!-- views/newgame.html -->
<h1 class="view-heading">Start a New Game</h1>

<h1>Team</h1>
<div class="dif-container">
  <div class="button-wrap">
    <input type="radio" name="accept-offers" id="muon-button" checked="checked" class="hidden radio-label"/>
    <label for="muon-button" class="button-label">
      <h1>Muon</h1>
    </label>
    <input type="radio" name="accept-offers" id="antimuon-button" class="hidden radio-label"/>
    <label for="antimuon-button" class="button-label">
      <h1>Antimuon</h1>
    </label>
  </div>
</div>

<h1>Difficulty</h1>
<div class="dif-container">
  <div class="button-wrap">
    <input type="radio" name="accept-offers" id="easy-button" checked="checked" class="hidden radio-label"/>
    <label for="easy-button" class="button-label">
      <h1>Easy</h1>
    </label>
    <input type="radio" name="accept-offers" id="med-button" class="hidden radio-label"/>
    <label for="med-button" class="button-label">
      <h1>Medium</h1>
    </label>
    <input type="radio" name="accept-offers" id="hard-button" class="hidden radio-label"/>
    <label for="hard-button" class="button-label">
      <h1>Hard</h1>
    </label>
  </div>
</div>

<a class="button" ui-sref="board">Start</a>

<div class="back">
	<a class="button" onclick="history.back()">
		<span class='batch' data-icon='&#xf14a'></span> Back
	</a>
</div>
