<!-- views/options.html -->
<h1 class="view-heading">Options</h1>


<div class="options_container">
<div class="options_child">
	<h3 class="view-heading">Sound</h3>
	<div class="row">
		<div class="col-xs-12">
			<a class="button optionsbtn" id="mute-musicbtn" ng-click="toggleMusic()">Mute Music
				&nbsp<span class='batch' data-icon='&#xf03b'></span>
			</a>
		</div>
		<div class="col-xs-12">
			<a class="button optionsbtn" id="mute-soundbtn" ng-click="toggleSound()">Mute SoundFX
				&nbsp<span class='batch' data-icon='&#xf03b'></span>
			</a>
		</div>
	</div>
	<h3 class="view-heading">Network Username</h3>
	<div class="row">
		<div class="col-xs-12">
			<input type="text" ng-model="username" name="username"  maxlength="13"
				id="usernameInput" ng-enter="saveUsername(username)" required/>
		</div>
		<div class="col-xs-12">
			<a class="button optionsbtn" ng-click="saveUsername(username)">Save Username</a>
		</div>
	</div>
</div>
</div>






<div class="back">
	<a class="button" ui-sref="menu">
		<span class='batch' data-icon='&#xf14a'></span> Menu
	</a>
</div>